*{

    margin: 0;
    padding: 0;
    background-color: #161A30;
    color: #F0ECE5;
    font-family: Satoshi, "Century Gothic", CenturyGothic, AppleGothic, Arial, Helvetica, sans-serif;
}

header{

    margin: 20px 0 0 30px;
}

.heading{

    font-size: 54px;
    text-align: center;
}

.heading-ahead, .tag{

    color: #F6B17A;
}

.links{

    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 10px;
}

.anchor{

    margin-right: 18px;
    transition: transform 0.4s;
}

.anchor:hover{

    transform: scale(1.3);
}

