* {

    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #0d1b2a;
    color: #e0e1dd;
}

body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section {

    max-width: 760px;
    overflow: scroll;
}

h1 {

    font-weight: 900;
    margin: 40px 0 50px 0;
}

.highlight {

    color: #e36414;
}

p {

    font-size: 18px;
}

div {
    padding: 20px;
}

a {

    text-decoration: none;
    color: #f77f00;
}

a:hover {

    text-decoration: underline;
}

nav {

    margin-top: 100px;
}

ul {

    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li {

    padding: 10px;
}