* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {

    background-color: #c6ac8f;
    margin: auto;
}

h1 {

    margin-bottom: 20px;
}

.container {
    
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    gap: 20px;  
}

.about-container, .side-container {
    width: fit-content;
    background-color: #5e503f;
    color: #eae0d5;
    border-radius: 20px;
    margin: 0px 10px;
    padding: 30px;
    display: flex;
    flex-direction: column; 
}

.side-container {
    background-color: #433e3f;
}

.portrait {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-image: url('../public/portrait.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav li {
    padding: 10px;
}

.tech {

    width: fit-content;
    background-color: #736F4E;
    border-radius: 20px;
    padding: 30px;
    margin: 0 10px 20px 10px;
}

.tech ul {

    list-style: none;
}

.tech h3 {

    font-weight: bold;
}

.tech div {

    margin-bottom: 10px;
    display: inline-block;
    padding: 30px;
}

.side-container, .about-container, .tech {

    transition: all 0.5s;
}

.side-container:hover, .about-container:hover, .tech:hover {

    -webkit-box-shadow: 13px 17px 26px -7px rgba(0,0,0,0.79);
-moz-box-shadow: 13px 17px 26px -7px rgba(0,0,0,0.79);
box-shadow: 13px 17px 26px -7px rgba(0,0,0,0.79);
}

img {

    transition: all 0.5s;
}

img:hover {

    scale: 1.5;
}
